# 1次元データの整理

### データの中心の指標

In [1]:
import numpy as np
import pandas as pd

# Jupyter Notebookの出力を小数点以下3桁に抑える
%precision 3
# Dataframeの出力を小数点以下3桁に抑える
pd.set_option('precision', 3)

In [2]:
df = pd.read_csv('../data/ch2_scores_em.csv',
                 index_col='生徒番号')
# dfの最初の5行を表示
df.head()

      英語  数学
生徒番号
1     42  65
2     69  80
3     56  63
4     41  63
5     57  76

In [3]:
scores = np.array(df['英語'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [4]:
scores_df = pd.DataFrame({'点数':scores},
                         index=pd.Index(['A', 'B', 'C', 'D', 'E',
                                         'F', 'G', 'H', 'I', 'J'],
                                        name='生徒'))
scores_df

    点数
生徒
A   42
B   69
C   56
D   41
E   57
F   48
G   65
H   49
I   65
J   58

In [5]:
sum(scores)/ len(scores)

55.000

In [6]:
np.mean(scores)

55.000

In [7]:
scores_df.mean()

点数    55.0
dtype: float64